<!DOCTYPE html>
<html>
    <head>
        <title>Clown Chat Bot</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'stylesheets/index.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        
        <div class = 'InputForm'>
            <h1>Hi Im Your Clown Chat Bot</h1>
            <form id = 'myform' action="/send", method="POST">
                <input type="text" autocomplete="off" placeholder="Enter Your Query", name = 'message'>
                <button type="submit" class="btn btn-primary">Submit</button>
                <h2>{{ response }}</h2>
            </form>
        </div>
    </body>
</html>

